{% extends 'base.html' %}

{% block content %}

<main>
    <div class ="spacer">
        <h1>Home</h1>
        <p>
            {% comment %} <a href ="{% url 'create_project' %}">Create new project</a> {% endcomment %}
            {% if resume_list %}
                <table>
                    <thead>
                        <tr>

                            <th>Created Resumes</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for resume in resume_list  %}
                            <tr>
                                <td><a href="{% url 'show_resume' resume.id  %}">{{ resume.name }}</a></td>
                                {% comment %} <td>{{ list.tasks.all|length }} {% endcomment %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>You are not assigned to any projects</p>
            {% endif %}
    </div>
</main>


{% endblock content %}
